<!DOCTYPE html>
<html>

<head>
    <title>Foundation Template</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="node_modules/foundation-sites/dist/css/foundation.css">
    <link rel="stylesheet" href="foundation-icons/foundation-icons.css">

</head>

<body ng-app="appModule">
    <div ng-controller="ProductsController">
    <!-- foundation navigation -->
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="responsive-menu" data-topbar>
        <div class="top-bar-left">
            <ul class="menu expanded icons">
                <li>
                    <a href="#">
                        <i class="fi-home"></i>Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Service</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>

            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <input type="search" placeholder="Search">
                </li>
                <li>
                    <button type="button" class="button">Search</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- foundation grid -->

    <div class="grid-container fluid">
        <div class="grid-x">
            <div class="medium-6 large-3 small-12 cell">
                <h4>Add Product</h4>
                <!-- foundation form -->
                <form>
                    <div class="grid-x grid-padding-x">

                        <div class="medium-12 small-12  cell">
                            <label>Product Name
                                <input ng-model="product.name" name="name" id='pname' type="text" placeholder="Enter product name">
                            </label>
                        </div>
                        <div class="medium-12 small-12  cell">
                            <label>Price
                                <input ng-model="product.price" name="price" id="pprice" type="number" placeholder="Enter item price">
                            </label>
                        </div>

                        <div class="medium-12 small-12 cell">
                            <label>Quantity
                                <input ng-model="product.quantity" name="quantity" id="pquantity" type="number" placeholder="Enter quantity">
                            </label>
                        </div>
                        <div class="medium-12 small-12 cell">
                            <label>Category
                                <select ng-model="product.category" id="pcategory">
                                    <option value="Electronic">Electronic</option>
                                    <option value="Clothing">Clothing</option>
                                    <option value="Furniture">Furniture</option>
                                </select>
                            </label>
                        </div>


                        <div class="medium-12 small-12  cell">
                            <button ng-click="addProduct()" type="button" class="success button expanded">Save</button>
                           
                        </div>

                    </div>
                </form>

            </div>
            <div class="medium-6 large-9 small-12 cell">
                <h4>Available Products</h4>
                <!-- foundation table table -->
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Quantity Available</th>
                            <th>Details</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="animate-repeat" ng-repeat="product in products">
                            <td>{{product.name| uppercase}}</td>
                            <td>{{product.price|currency:"Ksh"}}</td>
                            <td>{{product.quantity}}</td>
                            <td>
                                <button ng-click="viewProductDetail(product)" class="button">
                                <i class="fi-eye"></i>
                                </button>
                            </td>
                            <td>
                                <button data-open="productEditModal" class="button">
                                    <i class="fi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination text-center">
                    <li class="pagination-previous disabled">Previous
                        <span class="show-for-sr">page</span>
                    </li>
                    <li class="current">
                        <span class="show-for-sr">You're on page</span> 1</li>
                    <li>
                        <a href="#" aria-label="Page 2">2</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 3">3</a>
                    </li>
                    <li class="pagination-next">
                        <a href="#" aria-label="Next page">Next
                            <span class="show-for-sr">page</span>
                        </a>
                    </li>
                </ul>
                <!-- <p><a href = "#trending">Trending</a></p>
                <p><a href = "#manafucturers">manufacturers</a></p>
                <div ng-view></div>
                <script type = "text/ng-template" class="tab" id = "trending.html">
                    <h1>hello</h1>
                 </script>
                 
                 <script type = "text/ng-template" class="tab" id = "manafucturers.html">
                    kuku
                 </script> -->
                
            </div>
        </div>

    </div>
    <!-- modal -->
   
</div>
</body>

<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/angular-foundation-6/dist/angular-foundation.min.js"></script>

<script src="app.js"></script>

<script>
   
</script>

</html>